{% extends "base.html" %}

{% block title %} 购物车 {% endblock %}

{% block content %}
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">购物车</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">首页</a></li>
						<li class="active">购物车</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">&nbsp;</th>
                      <th class="">商品</th>
                      <th class="">总计</th>
					  <th class="">数量</th>
                      <th class="">操作</th>

                    </tr>
                  </thead>
                  <tbody>
                  {% for cart_item in cart_items %}
                    <tr class="">
                      <td class=""><input type="checkbox" class="myCheck"></td>
                      <td class="">
                        <div class="product-info">
                            <a href="/goods/{{ cart_item['商品id'] }} " class="myGoods"><img width="80" src="/static/images/" alt="" /></a>
                          <a href="#!"></a>
                        </div>
                      </td>
                      <td class="">{{ cart_item['商品单价']*cart_item['商品数量'] }}</td>
					  <td>
                        <p style="display: none" class="item_id">{{ cart_item['id'] }}</p>
						<button type="button" class="btn btn-sm addNum" id="">+</button>
						<span>{{ cart_item['商品数量'] }}</span>
						<button type="button" class="btn btn-sm subNum" id="">-</button>
					   </td>
                      <td class="">
                        <a class="product-remove" href="/cart/delete_item/{{ cart_item['id']}}">删除</a>
                      </td>
                    </tr>
                  {% endfor %}
{#                    <tr class="">#}
{#                      <td class="">#}
{#                        <div class="product-info">#}
{#                          <img width="80" src="../static/images/shop/cart/cart-2.jpg" alt="" />#}
{#                          <a href="#!"></a>#}
{#                        </div>#}
{#                      </td>#}
{#                      <td class="">200.00</td>#}
{#					  <td>#}
{#						<button type="button" class="btn btn-sm addNum" id="">+</button>#}
{#						<span>1</span>#}
{#						<button type="button" class="btn btn-sm subNum" id="">-</button>#}
{#					   </td>#}
{#                      <td class="">#}
{#                        <a class="product-remove" href="#!">删除</a>#}
{#                      </td>#}
{#                    </tr>#}
{#                    <tr class="">#}
{#                      <td class="">#}
{#                        <div class="product-info">#}
{#                          <img width="80" src="../static/images/shop/cart/cart-3.jpg" alt="" />#}
{#                          <a href="#!"></a>#}
{#                        </div>#}
{#                      </td>#}
{#                      <td class="">200.00</td>#}
{#					  <td>#}
{#						<button type="button" class="btn btn-sm addNum" id="">+</button>#}
{#						<span>1</span>#}
{#						<button type="button" class="btn btn-sm subNum" id="">-</button>#}
{#					   </td>#}
{#                      <td class="">#}
{#                        <a class="product-remove" href="#!">删除</a>#}
{#                      </td>#}
{#                    </tr>#}
                  </tbody>
                </table>
                <a href="/cart/checkout" class="btn btn-main pull-right">结算</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <script type="text/javascript">

        $('.addNum').on('click',function () {
            var num= parseInt($(this).next().text());
            var price =parseInt($(this).parent().prev().text())/num;
            var goods_id = $(this).prev().text();
            let subsmit_url = '/cart/set_cnt/'+ goods_id;
            var flag=0;
            //console.log(num);
            num=num+1;
            //console.log(num);

            if(num < 100){
                $.ajaxSetup({async :false});//设置ajax为同步
                $.ajax({
                    url: subsmit_url,
                    method: 'POST',
                    data: {
                        'cnt': goods_id
                    },
                    success: function (res) {
                        if(res['code']==200){
                            flag= 1;

                        }else{
                            alert(res['message']);
                        }
                    }
                })
                //console.log(flag)
                if(flag==1){
                    $(this).next().text(num);
                    $(this).parent().prev().text(price*num);
                }
            }
        })
        $('.subNum').on('click',function (res) {
            var num= parseInt($(this).prev().text());
            var price =parseInt($(this).parent().prev().text())/num;
            var goods_id = $(this).prev().prev().prev().text();
            let subsmit_url = '/cart/set_cnt/'+ goods_id;
            let flag=0;
            num=num-1;
            //console.log(num);

            if(num > 0){
                $.ajaxSetup({async :false});
                $.ajax({
                    url: subsmit_url,
                    method: 'POST',
                    data: {
                        'cnt': goods_id
                    },
                    success: function (res) {
                        if(res['code']==200){
                             flag= 1;
                            //alert('玩尼玛');
                        }else{
                            alert(res['message']);
                        }
                    }
                })
                 if(flag==1){
                    $(this).prev().text(num);
                    $(this).parent().prev().text(price*num);
                }
            }else{
                alert('已经减到最小了！！');
            }
        })
    </script>
{% endblock %}
