{% extends "base.html" %}

{% block title %}结算{% endblock %}

{% block content %}
<section class="page-header" >
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">结算</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">首页</a></li>
						<li class="active">结算</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="page-wrapper" style="margin-top: -8rem">
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-md-9">
               <div class="block billing-details">
                  <h4 class="widget-title">订单信息</h4>
                  <form class="checkout-form">
                     <div class="form-group">
                        <label for="full_name">收货人</label>
                        <input type="text" class="form-control" id="full_name" placeholder="">
                     </div>
                     <label for="user_address">收货地址</label>
                     <div class="form-group">

                        <select class="form-select form-select-lg form-control" aria-label="Default select example" id="user_address" style="height: 5rem">
                            <option selected>默认地址</option>
                            <option value="1">地址1</option>
                            <option value="2">地址2</option>
                            <option value="3">地址3</option>
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="phonenum">电话号码</label>
                        <input type="tel" class="form-control" id="phonenum" placeholder="">
                     </div>
                  </form>
               </div>
               
            </div>
            <div class="col-md-9" style="margin-top: -3rem">
               <div class="product-checkout-details">
                  <div class="block">
                     <h4 class="widget-title">商品信息确认</h4>
                     <div class="media product-card">
                        <a class="pull-left" href="product-single.html">
                           <img class="media-object" src="../static/images/shop/cart/cart-1.jpg" alt="Image" />
                        </a>
                        <div class="media-body">
                           <h4 class="media-heading"><a href="/goods/<int:goodsid>">太阳眼镜</a></h4>
                           <p class="price">1 x 249</p>
                           <span class="remove" >删除</span>
                        </div>
                     </div>
                     <ul class="summary-prices">
                        <li>
                           <span>小计:</span>
                           <span class="price">190</span>
                        </li>
                     </ul>

                     <div class="media product-card">
                        <a class="pull-left" href="product-single.html">
                           <img class="media-object" src="../static/images/shop/cart/cart-1.jpg" alt="Image" />
                        </a>
                        <div class="media-body">
                           <h4 class="media-heading"><a href="product-single.html">太阳眼镜</a></h4>
                           <p class="price">1 x 249</p>
                           <span class="remove" >删除</span>
                        </div>
                     </div>
                     <ul class="summary-prices">
                        <li>
                           <span>小计:</span>
                           <span class="price">190</span>
                        </li>
                     </ul>

                     <div class="summary-total">
                        <span>总计：</span>
                        <span>380</span>
                     </div>
                     
                  </div>
               </div>
			   <div class="block">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="float: right;">
					提交订单
				</button>
                <!-- 支付模态框 -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalCenterTitle">请支付</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
							<h4 class="widget-title">支付方式</h4>
								<div class="checkout-product-details">
								<div class="payment">
									<div class="card-details">
										<a href="../templates/confirmation.html" class="btn btn-main mt-20">支付宝</a >
										<a href="confirmation.html" class="btn btn-main mt-20">微信支付</a >
										
									</div>
								</div>
								</div>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
						  <button type="button" class="btn btn-primary">确认</button>
						</div>
					  </div>
					</div>
				  </div>
				
			 </div>
            </div>
         </div>
      </div>
   </div>
</div>
   <!-- Modal -->
   <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <form>
                  <div class="form-group">
                     <input class="form-control" type="text" placeholder="Enter Coupon Code">
                  </div>
                  <button type="submit" class="btn btn-main">Apply Coupon</button>
               </form>
            </div>
         </div>
      </div>
   </div>

{% endblock %}
