{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">个人中心</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">首页</a></li>
						<li class="active">我的账户</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a class="active" href="\user\dashboard">历史订单</a></li>
                    <li><a href="\user\order">订单</a></li>
                    <li><a href="\user\return_order">退货申请</a></li>
                    <li><a href="\user\return_goods">退货订单</a></li>
                    <li><a href="\user\address">地址</a></li>
                    <li><a href="\user\info">个人信息</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="total-order mt-20">
						<h4>订单信息</h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>订单编号</th>
										<th>日期</th>
										<th>数量</th>
										<th>价格</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="#!">#252125</a></td>
										<td>2022-5-4</td>
										<td>2</td>
										<td> 99.00</td>
									</tr>
									<tr>
										<td><a href="#!">#252125</a></td>
										<td>2022-5-4</td>
										<td>2</td>
										<td> 99.00</td>
									</tr>
									<tr>
										<td><a href="#!">#252125</a></td>
										<td>2022-5-4</td>
										<td>2</td>
										<td> 99.00</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
