{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block content %}

<div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox" style="height: 30rem">
                <div class="item active" style="height: 30rem">
                  <img src="../static/images/slider/slider-1.jpg" alt="..." height="30rem">
                  <div class="carousel-caption">
                      <h1 style="margin-bottom: 7rem">欢迎来到地摊货！</h1>
                  </div>
                </div>
                <div class="item" style="height: 30rem">
                  <img src="../static/images/slider/slider-3.jpg" alt="..."  height="30rem">
                  <div class="carousel-caption">
                    <h1 style="margin-bottom: 7rem">欢迎来到地摊货！</h1>
                  </div>
                </div>
                 <div class="item" style="height: 30rem">
                  <img src="../static/images/slider/slider-2.jpg" alt="..." height="30rem">
                  <div class="carousel-caption">
                      <h1 style="margin-bottom: 7rem">欢迎来到地摊货！</h1>
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
      </div>
</div>


<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>热销商品</h2>
			</div>
		</div>
		<div class="row">

			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/a0302c1a-84cf-446d-b13e-446142b27d00.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
                                        <a href="/goods/11">
										    <i class="tf-ion-ios-search-strong"></i>
                                        </a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">11</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="#">迪卡侬手表男户外W500中学生马拉松电子表</a></h4>
						<p class="price">￥109</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/0042b101-84c2-47aa-b603-3e0541efd2dd.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
										<a href="/goods/12">
										    <i class="tf-ion-ios-search-strong"></i>
                                        </a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">12</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="#">女款学生机械运动防水独角兽初高中女孩儿童电子表</a></h4>
						<p class="price">￥143</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/1d58ad6f-1f01-40cb-8c9a-5d62d157e0c3.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
										<a href="/goods/10">
										    <i class="tf-ion-ios-search-strong"></i>
                                        </a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">10</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="#">腕表立体视界轮廓 创意设计 黑洞概念调性考试学生手表</a></h4>
						<p class="price">￥89</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/2f13422d-a71e-4a65-8429-f63764cf19c2.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
										<a href="/goods/9">
										    <i class="tf-ion-ios-search-strong"></i>
                                        </a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">9</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Enmex创意设计感 树枝概念款手表 简约抽象设计师腕表</a></h4>
						<p class="price">￥69</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/d4782a13-6620-4888-a67c-dc61ef34952c.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
										<a href="/goods/8">
										    <i class="tf-ion-ios-search-strong"></i>
                                        </a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">8</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="#">新款牛仔长袖衬衫男士休闲村衫青年衬衣工装外套</a></h4>
						<p class="price">￥108</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/49677c18-a1de-4c9a-99a0-fbf6b3cea5ae.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
										<a href="/goods/7">
										    <i class="tf-ion-ios-search-strong"></i>
                                        </a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">7</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="#">夏季男士纯棉牛仔短袖衬衫全棉半袖寸衣纯色修身休闲薄衬衣</a></h4>
						<p class="price">￥129</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/d34992b4-0324-49b0-a1ca-a646b789a869.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
										<a href="/goods/6">
										    <i class="tf-ion-ios-search-strong"></i>
                                        </a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">6</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="#">法式情侣装夏装不一样roora网红ins超火POLO短袖t恤</a></h4>
						<p class="price">$119</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/2ef0a9bd-a842-442a-8583-37dac50edaeb.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
                                    <a href="/goods/5">
                                        <i class="tf-ion-ios-search-strong"></i>
                                    </a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">5</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="#">BJHG自制夏季麂皮绒反光短袖T恤男欧美宽松INS情侣上衣女</a></h4>
						<p class="price">￥129</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/7a80e9a8-2277-424f-b6e6-7b7bfef967dd.png" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
                                    <a href="/goods/4">
                                        <i class="tf-ion-ios-search-strong"></i>
                                    </a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">4</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="#">白色t恤男士短袖内搭打底衫纯棉潮牌潮流男装体恤</a></h4>
						<p class="price">￥29</p>
					</div>
				</div>
			</div>

		<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img class="img-responsive" src="../static/images/shop/products/modal-product.jpg" alt="product-img" />
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 class="product-title">GM Pendant, Basalt Grey</h2>
			        				<p class="product-price">$200</p>
			        				<p class="product-short-description">
			        					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
			        				</p>
			        				<a href="cart.html" class="btn btn-main">Add To Cart</a>
			        				<a href="product-single.html" class="btn btn-transparent">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->

		</div>
	</div>
</section>
<script>
    <!-- 加入购物车 -->
    $('.tf-ion-android-cart').on('click',function () {
        var goodsid=$(this).parent().next().text();
        console.log(goodsid);
        var url = "/cart/add_item/" + goodsid;
        $.ajax({
            url: url,
            method: "POST",
            data: {
                'cnt': 1
            },
            success: function (res) {
                if(res['code']==200){
                    alert(res['message'])
                }else{
                    alert(res['message']);
                }
            }
        })
    })
</script>
{% endblock %}