{% extends "base.html" %}

{% block title %}退货订单{% endblock %}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">个人中心</h1>
					<ol class="breadcrumb">
						<li><a href="index.html" style="font-size: large">首页</a></li>
						<li class="active" style="font-size: medium">我的商品</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper" style="margin-top: -5em">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table" style="font-size: medium">
							<thead>
								<tr>
									<th>商品编号</th>
									<th>商品名称</th>
									<th>商品单价</th>
									<th>商品库存</th>
								</tr>
							</thead>
							<tbody>
{#								<tr>#}
{#									<td>#451231</td>#}
{#									<td>杨龙</td>#}
{#									<td>2.0</td>#}
{#									<td>99</td>#}
{#									<td><a href="#" class="btn btn-default">查看</a></td>#}
{#									<td><button class="btn btn-default">修改</button></td>#}
{#                                    <td><button class="btn btn-default">下架</button></td>#}
{#								</tr>#}
                                {% for goods in goods_list %}
                                <tr>
									<td>#{{ goods['商品ID'] }}</td>
									<td>{{goods['商品名称']}}</td>
									<td>{{ goods['商品价格']}}</td>
									<td>{{ goods['商品库存'] }}</td>
									<td><a href="\goods\{{ goods['商品ID'] }}" class="btn btn-default">查看</a></td>
									<td><button class="btn btn-default">修改</button></td>
                                    <td><button class="btn btn-default">下架</button></td>
								</tr>
                                {% endfor %}

							</tbody>
						</table>
                        <tfoot>
                                <tr><tf class="pull-right">
                                    <div class="pull-right btn-group">
                                        <a href="/goods/upload"><button type="button" class="btn btn-main btn-round">上架</button></a>
                                    </div>
                                </tf></tr>
                        </tfoot>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
