{% extends "base.html" %}

{% block title %}订单{% endblock %}

{% block content %}
    <style>
        .modal-dialog {
            position: absolute !important;
            top:50% !important;
            left:50% !important;
            transform:translate(-50%,-50%) !important;
            -webkit-transform:translate(-50%,-50%) !important;
            -moz-transform:translate(-50%,-50%) !important;
            -ms-transform:translate(-50%,-50%) !important;
            -o-transform:translate(-50%,-50%) !important;
        }
    </style>
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">个人中心</h1>
					<ol class="breadcrumb">
						<li><a href="index.html" style="font-size: large">首页</a></li>
						<li class="active" style="font-size: medium">我的购买</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper" style="margin-top: -5em">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table" style="font-size: medium">
							<thead>
								<tr>
									<th>订单编号</th>
                                    <th>商品名称</th>
									<th>时间</th>
									<th>数量</th>
									<th>总计</th>
									<th>订单状态</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
                            {% for order in order_list %}
                            <tr>
									<td>#{{ order['id'] }}</td>
                                    <td>{{ order['商品名称'] }}</td>
									<td>{{ order['时间'] }}</td>
									<td>{{ order['商品数量'] }}</td>
									<td>{{ order['商品价格']*order['商品数量'] }}</td>
									<td><span class="label label-primary">{{order['订单状态']}}</span></td>
									<td><a href="/order/{{ order['id'] }}" class="btn btn-default">查看</a></td>
									<td>
                                        {% if order['订单状态']=='待收货' %}
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
											退货
										</button>
                                        {% else %}
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" disabled>
											退货
										</button>
                                        {% endif %}

										<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
											  <div class="modal-content">
												<div class="modal-header">
												  <h5 class="modal-title" id="exampleModalCenterTitle">退货原因</h5>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
													<div class="mb-3">
														<select class="form-select" aria-label="Default select example" style="width: 550px;height: 50px;">
															<option selected>请选择</option>
															<option value="1">不想要了</option>
															<option value="2">有损坏</option>
															<option value="3">类型不一样</option>
														</select>
													</div>
													<div class="mb-3">
														<label for="exampleFormControlTextarea1" class="form-label">其他原因</label>
														<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
													</div>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
												  <button type="button" class="btn btn-primary">确认</button>
												</div>
											  </div>
											</div>
										  </div>
									</td>
								</tr>
                            {% endfor %}


{#								<tr>#}
{#									<td>#451231</td>#}
{#									<td>2022-5-25</td>#}
{#									<td>3</td>#}
{#									<td>150.00</td>#}
{#									<td><span class="label label-success">完成</span></td>#}
{#									<td><a href="/user/order" class="btn btn-default">查看</a></td>#}
{#									<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">#}
{#										退货#}
{#									</button>#}
{#									<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#										<div class="modal-dialog modal-dialog-centered" role="document">#}
{#										  <div class="modal-content">#}
{#											<div class="modal-header">#}
{#											  <h5 class="modal-title" id="exampleModalCenterTitle">退货原因</h5>#}
{#											  <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#												<span aria-hidden="true">&times;</span>#}
{#											  </button>#}
{#											</div>#}
{#											<div class="modal-body">#}
{#												<div class="mb-3">#}
{#													<select class="form-select" aria-label="Default select example" style="width: 550px;height: 50px;">#}
{#														<option selected>请选择</option>#}
{#														<option value="1">不想要了</option>#}
{#														<option value="2">有损坏</option>#}
{#														<option value="3">类型不一样</option>#}
{#													</select>#}
{#												</div>#}
{#												<div class="mb-3">#}
{#													<label for="exampleFormControlTextarea1" class="form-label">其他原因</label>#}
{#													<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
{#												</div>#}
{#											</div>#}
{#											<div class="modal-footer">#}
{#											  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>#}
{#											  <button type="button" class="btn btn-primary">确认</button>#}
{#											</div>#}
{#										  </div>#}
{#										</div>#}
{#									  </div></td>#}
{#								</tr>#}
{#								<tr>#}
{#									<td>#451231</td>#}
{#									<td>2022-5-25</td>#}
{#									<td>3</td>#}
{#									<td>150.00</td>#}
{#									<td><span class="label label-danger">取消</span></td>#}
{#									<td><a href="/user/order" class="btn btn-default">查看</a></td>#}
{#									<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">#}
{#										退货#}
{#									</button>#}
{#									<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#										<div class="modal-dialog modal-dialog-centered" role="document">#}
{#										  <div class="modal-content">#}
{#											<div class="modal-header">#}
{#											  <h5 class="modal-title" id="exampleModalCenterTitle">退货原因</h5>#}
{#											  <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#												<span aria-hidden="true">&times;</span>#}
{#											  </button>#}
{#											</div>#}
{#											<div class="modal-body">#}
{#												<div class="mb-3">#}
{#													<select class="form-select" aria-label="Default select example" style="width: 550px;height: 50px;">#}
{#														<option selected>请选择</option>#}
{#														<option value="1">不想要了</option>#}
{#														<option value="2">有损坏</option>#}
{#														<option value="3">类型不一样</option>#}
{#													</select>#}
{#												</div>#}
{#												<div class="mb-3">#}
{#													<label for="exampleFormControlTextarea1" class="form-label">其他原因</label>#}
{#													<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
{#												</div>#}
{#											</div>#}
{#											<div class="modal-footer">#}
{#											  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>#}
{#											  <button type="button" class="btn btn-primary">确认</button>#}
{#											</div>#}
{#										  </div>#}
{#										</div>#}
{#									  </div></td>#}
{#								</tr>#}
{#								<tr>#}
{#									<td>#451231</td>#}
{#									<td>2022-5-25</td>#}
{#									<td>2</td>#}
{#									<td>99.00</td>#}
{#									<td><span class="label label-info">待支付</span></td>#}
{#									<td><a href="/user/order" class="btn btn-default">查看</a></td>#}
{#									<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">#}
{#										退货#}
{#									</button>#}
{#									<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#										<div class="modal-dialog modal-dialog-centered modal-dialogs" role="document">#}
{#										  <div class="modal-content">#}
{#											<div class="modal-header">#}
{#											  <h5 class="modal-title" id="exampleModalCenterTitle">退货原因</h5>#}
{#											  <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#												<span aria-hidden="true">&times;</span>#}
{#											  </button>#}
{#											</div>#}
{#											<div class="modal-body">#}
{#												<div class="mb-3">#}
{#													<select class="form-select" aria-label="Default select example" style="width: 550px;height: 50px;">#}
{#														<option selected>请选择</option>#}
{#														<option value="1">不想要了</option>#}
{#														<option value="2">有损坏</option>#}
{#														<option value="3">类型不一样</option>#}
{#													</select>#}
{#												</div>#}
{#												<div class="mb-3">#}
{#													<label for="exampleFormControlTextarea1" class="form-label">其他原因</label>#}
{#													<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
{#												</div>#}
{#											</div>#}
{#											<div class="modal-footer">#}
{#											  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>#}
{#											  <button type="button" class="btn btn-primary">确认</button>#}
{#											</div>#}
{#										  </div>#}
{#										</div>#}
{#									  </div></td>#}
{#								</tr>#}
{#								<tr>#}
{#									<td>#451231</td>#}
{#									<td>2022-5-25</td>#}
{#									<td>3</td>#}
{#									<td>150.00</td>#}
{#									<td><span class="label label-warning">待发货</span></td>#}
{#									<td><a href="/user/order" class="btn btn-default">查看</a></td>#}
{#									<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">#}
{#										退货#}
{#									</button>#}
{#									<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#										<div class="modal-dialog modal-dialog-centered" role="document">#}
{#										  <div class="modal-content">#}
{#											<div class="modal-header">#}
{#											  <h5 class="modal-title" id="exampleModalCenterTitle">退货原因</h5>#}
{#											  <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#												<span aria-hidden="true">&times;</span>#}
{#											  </button>#}
{#											</div>#}
{#											<div class="modal-body">#}
{#												<div class="mb-3">#}
{#													<select class="form-select" aria-label="Default select example" style="width: 550px;height: 50px;">#}
{#														<option selected>请选择</option>#}
{#														<option value="1">不想要了</option>#}
{#														<option value="2">有损坏</option>#}
{#														<option value="3">类型不一样</option>#}
{#													</select>#}
{#												</div>#}
{#												<div class="mb-3">#}
{#													<label for="exampleFormControlTextarea1" class="form-label">其他原因</label>#}
{#													<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
{#												</div>#}
{#											</div>#}
{#											<div class="modal-footer">#}
{#											  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>#}
{#											  <button type="button" class="btn btn-primary">确认</button>#}
{#											</div>#}
{#										  </div>#}
{#										</div>#}
{#									  </div></td>#}
{#								</tr>#}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
