{% extends "base.html" %}

{% block title %}商品信息{% endblock %}

{% block content %}
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <ol class="breadcrumb">
            <li><a href="index.html" style="font-size: large">首页</a></li>
            <li class="active" style="font-size: medium">商品详情</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="single-product" style="margin-top: -3em">
	<div class="container">
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
{#								<div class='item active'>#}
{#									<img src='../static/images/shop/single-products/product-1.jpg' alt='' data-zoom-image="../static/images/shop/single-products/product-1.jpg" />#}
{#								</div>#}
{#								<div class='item'>#}
{#									<img src='../static/images/shop/single-products/product-2.jpg' alt='' data-zoom-image="../static/images/shop/single-products/product-2.jpg" />#}
{#								</div>#}
{#								#}
{#								<div class='item'>#}
{#									<img src='../static/images/shop/single-products/product-3.jpg' alt='' data-zoom-image="../static/images/shop/single-products/product-3.jpg" />#}
{#								</div>#}
{#								<div class='item'>#}
{#									<img src='../static/images/shop/single-products/product-4.jpg' alt='' data-zoom-image="../static/images/shop/single-products/product-4.jpg" />#}
{#								</div>#}
{#								<div class='item'>#}
{#									<img src='../static/images/shop/single-products/product-5.jpg' alt='' data-zoom-image="../static/images/shop/single-products/product-5.jpg" />#}
{#								</div>#}
{#								<div class='item'>#}
{#									<img src='../static/images/shop/single-products/product-6.jpg' alt='' data-zoom-image="../static/images/shop/single-products/product-6.jpg" />#}
{#								</div>#}
								{% for i in range(goodsInfo['商品图片']|length) %}
                                    {% if i == 0 %}
                                        <div class='item active'>
                                            <img src='../static/images/{{ goodsInfo['商品图片'][i] }}' alt='' data-zoom-image="../static/images/{{ goodsInfo['商品图片'][i] }}" />
                                        </div>
                                    {% else %}
                                        <div class='item'>
                                            <img src='../static/images/{{ goodsInfo['商品图片'][i] }}' alt='' data-zoom-image="../static/images/{{ goodsInfo['商品图片'][i] }}" />
                                        </div>
                                    {% endif %}
                                {% endfor %}
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
{#							<li data-target='#carousel-custom' data-slide-to='0' class='active'>#}
{#								<img src='../static/images/shop/single-products/product-1.jpg' alt='' />#}
{#							</li>#}
{#							<li data-target='#carousel-custom' data-slide-to='1'>#}
{#								<img src='../static/images/shop/single-products/product-2.jpg' alt='' />#}
{#							</li>#}
{#							<li data-target='#carousel-custom' data-slide-to='2'>#}
{#								<img src='../static/images/shop/single-products/product-3.jpg' alt='' />#}
{#							</li>#}
{#							<li data-target='#carousel-custom' data-slide-to='3'>#}
{#								<img src='../static/images/shop/single-products/product-4.jpg' alt='' />#}
{#							</li>#}
{#							<li data-target='#carousel-custom' data-slide-to='4'>#}
{#								<img src='../static/images/shop/single-products/product-5.jpg' alt='' />#}
{#							</li>#}
{#							<li data-target='#carousel-custom' data-slide-to='5'>#}
{#								<img src='../static/images/shop/single-products/product-6.jpg' alt='' />#}
{#							</li>#}
{#							<li data-target='#carousel-custom' data-slide-to='6'>#}
{#								<img src='../static/images/shop/single-products/product-7.jpg' alt='' />#}
{#							</li>#}
                            {% for i in range(goodsInfo['商品图片']|length) %}
                                {% if i == 0 %}
                                    <li data-target='#carousel-custom' data-slide-to='{{ i }}' class='active'>
                                    <img src='../static/images/{{ goodsInfo['商品图片'][i] }}' alt='' />
                                    </li>
                                {% else %}
                                    <li data-target='#carousel-custom' data-slide-to='{{ i }}'>
                                    <img src='../static/images/{{ goodsInfo['商品图片'][i] }}' alt='' />
                                    </li>
                                {% endif %}
                            {% endfor %}
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{ goodsInfo['商品名称'] }}</h2>
                    <p class="product-price"><strong>单价： </strong>{{ goodsInfo['商品价格'] }}</p>
					
{#					<p class="product-description mt-20">#}
{#						SunsetPark日落公园 新中式白色连衣裙小众设计公主蓬蓬裙子女夏#}
{#					</p>#}

					<div class="product-quantity">
						<span>数量:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity" type="number" value="1" min="1" max="1000" name="product-quantity">
						</div>
					</div>
					
					<a href="cart.html" class="btn btn-main mt-20">加入购物车</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">详细信息</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">评论 (3)</a></li>
                        <li class=""><a data-toggle="tab" href="#review1" aria-expanded="false">留言</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>商品介绍</h4>
                            {% for line in goodsInfo['商品描述'].split() %}
                                <p>{{ line }}</p>
                            {% endfor %}


{#							<p>2022春夏系列“BlossomIllusion”以花为意象，围绕少女复杂隐秘的精神世界，讲述兼具甜美怪力和古典神秘感的异色梦境。灵感来源一个近乎儒执地迷恋着爱、温柔、脆弱和梦幻的少女形象。当女孩试图以做游戏的形式，在纯l的幻想和模糊的秩序中疯狂地探寻无数的可能，最终陷入了古怪寓言故事的命运，消失于现实。</p>#}
{#							<p>“Blossom Illusion”SunsetPark22SSCampaign通过戏剧性和幻想性构想痕漫的视觉叙事，将女性独立勇敢和彼得潘式的天l情感注入复古提花、蕾丝、蝴蝶结和花卉图案等带有甜美特质的元素中，开后一场本能地探索自我的悸动幻想。</p>#}
						</div>
						<div id="reviews" class="tab-pane fade">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">

								    <li class="media">
								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src="images/1.png" alt="" width="50" height="50" />
								        </a>
								        <div class="media-body">
								            <div class="comment-info">
								                <h4 class="comment-author">
								                    <a href="#!">小红</a>
                                                </h4>
								                <time datetime="2013-04-06T13:53">2022-5-25</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>回复</a>
								            </div>
								            <p>此用户未评价</p>
								        </div>
								    </li>
								    <li class="media">
								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src="images/1.png" alt="" width="50" height="50">
								        </a>
								        <div class="media-body">
								            <div class="comment-info">
								                <h4 class="comment-author">
								                    <a href="#!">小亮</a>
								                </h4>
								                <time datetime="2013-04-06T13:53">2022-5-25</time>
								                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>回复</a>
								            </div>
								            <p>此用户未评价</p>
								        </div>
								    </li>
							</ul>
							</div>
						</div>
                         <!-- 留言板块 -->
                        <div id="review1" class="tab-pane fade">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">
                                    {% for comment in comment_list %}
								    <li class="media">
								        <a class="pull-left" href="#!">
								            <img class="media-object comment-avatar" src="/static/images/{{ comment['用户头像'] }}" alt="" width="50" height="50" />
								        </a>
								        <div class="media-body">
								            <div class="comment-info">
								                <h4 class="comment-author">
								                    <a href="#!">{{ comment['用户姓名'] }}</a>
								                </h4>
								                <time datetime="2013-04-06T13:53">{{ comment['留言时间'] }}</time>
                                                <p style="display: none" class="comment_id">{{ comment['留言Id'] }}</p>
                                                <p style="display: none" class="user_id">{{ comment['用户Id'] }}</p>
                                                {% if comment['是否被删除'] == False %}
								                <a class="comment-button reply" href="#!" id="" data-toggle="modal" data-target="#exampleModalCenter"><i class="tf-ion-chatbubbles"></i>回复</a>
                                                <a class="comment-button comment" href="#!" id="">删除</a>
                                                {% endif %}
								            </div>
                                            {% if comment['是否被删除'] == False %}
								            <p>{{ comment['留言内容'] }}</p>
                                            {% else: %}
                                            <p style="color:orangered">留言已删除</p>
                                            {% endif %}
								        </div>
								    </li>
                                        {% for recomment in recomment_dict[comment['留言Id']] %}
                                            <li class="media">
                                                <!-- 在这里设计缩进 -->
                                                <a class="pull-left col-md-offset-1" href="#!">
                                                    <img class="media-object comment-avatar" src="/static/images/{{ recomment['回复者头像'] }}" alt="" width="50" height="50">
                                                </a>
                                                <div class="media-body">
                                                    <div class="comment-info">
                                                        <h4 class="comment-author">
                                                            <a href="#!">{{ recomment['回复者姓名'] }}&nbsp;&nbsp;回复&nbsp;&nbsp;{{ recomment['被回复者姓名'] }}</a>
                                                        </h4>
                                                        <time datetime="2013-04-06T13:53">{{ recomment['回复的时间'] }}</time>
                                                        <p style="display: none" class="recomment_id">{{ recomment['回复Id'] }}</p>
                                                        <p style="display: none" class="comment_id">{{ comment['留言Id'] }}</p>
                                                        <p style="display: none" class="user_id">{{ recomment['回复者Id'] }}</p>
                                                        {% if recomment['是否被删除'] == False %}
                                                        <a class="comment-button reply" href="#!" data-toggle="modal" data-target="#exampleModalCenter" ><i class="tf-ion-chatbubbles"></i>回复</a>
                                                        <a class="comment-button recomment" href="#!">删除</a>
                                                        {% endif %}

                                                    </div>
                                                    {% if recomment['是否被删除'] == False %}
                                                        <p>{{ recomment['回复的内容'] }}</p>
                                                    {% else: %}
                                                    <p style="color:orangered">留言已删除</p>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
							</ul>
                            <!-- 留言添加 -->
                            <div class="form-inline">
                               <span class="input-group-btn">
                                   <form action="/goods/add_comment/{{ goodsInfo['商品ID'] }}" method="post">
                                   <button type="submit" class="btn btn-main pull-right" id="addMessage">添加留言</button>
                                   <input id="kw" type="text" class="form-control pull-right" placeholder="输入留言" name="comment" size="30" baiduSug="1" style="width:50rem;">
                                   </form>
                               </span>
                            </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
     <!-- 回复模态框 -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressTitle">修改地址</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="text-left clearfix" action="/goods/reply_comment/{{ goodsInfo['商品ID'] }}" method="post">
                        <div class="form-group">
                            {{ form.hidden_tag() }}
{#                            <input type="text" class="form-control" placeholder="请输入">#}
                            {{ form.content(class="form-control",placeholder="请输入") }}
{#                            <p style="display: none" class="comment_id1"></p>#}
{#                            <p style="display: none" class="user_id1"></p>#}
                            {{ form.commentid(class="form-control comment_id1") }}
                            {{ form.userid(class="form-control user_id1") }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-main text-center">回复</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    <!-- 点击回复 -->
    $('.reply').on('click',function () {
        var id1=$(this).prev().text();
        var id2=$(this).prev().prev().text();
        $('.comment_id1').val(id2);
        $('.user_id1').val(id1);
    })
    <!-- 留言删除 -->
    $('.comment').on('click',function () {
        var id=$(this).prev().prev().prev().text()
        $.ajax({
            url: "/goods/delete_comment/{{ goodsInfo['商品ID'] }}",
            method: "POST",
            data: {
                'commentid': id
            },
            success: function (res) {
                if(res['code']==200){
                    window.location = res['url'];
                }else{
                    alert(res['message']);
                }
            }
        })
    })
    <!-- 回复删除 -->
    $('.recomment').on('click',function () {
        var id=$(this).prev().prev().prev().prev().text()
        $.ajax({
            url: "/goods/delete_recomment/{{ goodsInfo['商品ID']  }}",
            method: "POST",
            data: {
                'recommentid': id
            },
            success: function (res) {
                if(res['code']==200){
                    window.location = res['url'];
                }else{
                    alert(res['message']);
                }
            }
        })
    })
</script>
{% endblock %}