{% extends "base.html" %}

{% block title %}退货订单{% endblock %}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">个人中心</h1>
					<ol class="breadcrumb">
						<li><a href="index.html" style="font-size: large">首页</a></li>
						<li class="active" style="font-size: medium">退货订单</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper" style="margin-top: -5em">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table" style="font-size: medium">
							<thead>
								<tr>
									<th>订单编号</th>
									<th>退货时间</th>
									<th>数量</th>
									<th>总计</th>
                                    <th>物流单号</th>
									<th>订单状态</th>
									<th></th>
                                    <th></th>
								</tr>
							</thead>
							<tbody>
                            {% for order in order_list %}
                                <tr>
									<td>#{{ order["id"] }}</td>
									<td>{{ order["时间"] }}</td>
									<td>{{ order["商品数量"] }}</td>
									<td>{{ order["商品数量"]*order["商品价格"] }}</td>
                                {% if order["订单状态"]!="待发货" %}
                                    <td>{{ order["物流单号"] }}</td>
                                {% else %}
                                    <td>还未发货</td>
                                {% endif %}

									<td><span class="label label-success">{{ order["订单状态"] }}</span></td>
									<td><a href="/order/{{ order['原订单id'] }}" class="btn btn-default">查看</a></td>
                                    {% if order['订单状态'] == "待发货" and order["买家id"]==userid %} {# 买家才可以发货 #}
									 <td>
                                         <div style="display: none">{{ order["id"] }}</div>
                                         <button type="button" class="btn btn-main btn-small btn-round-full mybtn" data-toggle="modal" data-target="#exampleModalCenter">发货</button>
                                     </td>
                                    {% elif order['订单状态'] == "待收货" and order["卖家id"]==userid %}
                                    <td>
                                        <a  class="btn btn-default" href="/user/receive_return/{{ order['id'] }}">确认收货</a>
                                    </td>
                                    {% else %}
                                    <td>
                                    </td>
                                    {% endif %}
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="modal fade" id="delivery" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">添加物流单号</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="text-left clearfix" action="/user/return_order" method="post">
                            {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.order_id(id="order_id1") }}
                            {{ form.delivery_num(class="form-control") }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-main text-center">提交</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.onload=function () {
        $(document).on("click", ".mybtn", function () {
            var $this = $(this);
            //获取点击修改的地址的id
            var orderId = parseInt($this.prev().text());

            //$("#firstGroup").before("<div class=\"form-group\"><div style=\"display: none\">addressId</div></div>");
            $("#order_id1").attr('value', orderId);
            $("#delivery").modal();
        })
    }
</script>
{% endblock %}
