{% extends "base.html" %}

{% block title %}搜索结果{% endblock %}

{% block content%}

<section class="products section bg-gray" style="margin-top: -5em">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2><strong>搜索:{{ query }}</strong></h2>
			</div>
		</div>
        {% for goods in goods_list %}
{#		<div class="row">#}
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="/static/images/{{ goods['商品图片'][0] }}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
{#									<span  data-toggle="modal" data-target="#product-modal">#}
                                    <a href="/goods/{{ goods['商品ID'] }}"><i class="tf-ion-ios-search-strong"></i></a>
{#									</span>#}
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
                                    <span class="goodsid" style="display: none">{{ goods['商品ID'] }}</span>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="/goods/{{ goods['商品ID'] }}">{{ goods['商品名称'] }}</a></h4>
						<p class="price">￥{{ goods['商品价格'] }}</p>
					</div>
				</div>
			</div>
            {% endfor %}
            {% if goods_list|length == 0 %}
                <p>没有搜索结果</p>
            {% endif %}
{#			<div class="col-md-4">#}
{#				<div class="product-item">#}
{#					<div class="product-thumb">#}
{#						<img class="img-responsive" src="../static/images/shop/products/product-2.jpg" alt="product-img" />#}
{#						<div class="preview-meta">#}
{#							<ul>#}
{#								<li>#}
{#									<span  data-toggle="modal" data-target="#product-modal">#}
{#										<i class="tf-ion-ios-search-strong"></i>#}
{#									</span>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#!"><i class="tf-ion-android-cart"></i></a>#}
{#								</li>#}
{#							</ul>#}
{#                      	</div>#}
{#					</div>#}
{#					<div class="product-content">#}
{#						<h4><a href="product-single.html">Rainbow Shoes</a></h4>#}
{#						<p class="price">$200</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-md-4">#}
{#				<div class="product-item">#}
{#					<div class="product-thumb">#}
{#						<img class="img-responsive" src="../static/images/shop/products/product-3.jpg" alt="product-img" />#}
{#						<div class="preview-meta">#}
{#							<ul>#}
{#								<li>#}
{#									<span  data-toggle="modal" data-target="#product-modal">#}
{#										<i class="tf-ion-ios-search-strong"></i>#}
{#									</span>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#!"><i class="tf-ion-android-cart"></i></a>#}
{#								</li>#}
{#							</ul>#}
{#                      	</div>#}
{#					</div>#}
{#					<div class="product-content">#}
{#						<h4><a href="product-single.html">Strayhorn SP</a></h4>#}
{#						<p class="price">$230</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-md-4">#}
{#				<div class="product-item">#}
{#					<div class="product-thumb">#}
{#						<img class="img-responsive" src="../static/images/shop/products/product-4.jpg" alt="product-img" />#}
{#						<div class="preview-meta">#}
{#							<ul>#}
{#								<li>#}
{#									<span  data-toggle="modal" data-target="#product-modal">#}
{#										<i class="tf-ion-ios-search-strong"></i>#}
{#									</span>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#!"><i class="tf-ion-android-cart"></i></a>#}
{#								</li>#}
{#							</ul>#}
{#                      	</div>#}
{#					</div>#}
{#					<div class="product-content">#}
{#						<h4><a href="product-single.html">Bradley Mid</a></h4>#}
{#						<p class="price">$200</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-md-4">#}
{#				<div class="product-item">#}
{#					<div class="product-thumb">#}
{#						<img class="img-responsive" src="../static/images/shop/products/product-5.jpg" alt="product-img" />#}
{#						<div class="preview-meta">#}
{#							<ul>#}
{#								<li>#}
{#									<span  data-toggle="modal" data-target="#product-modal">#}
{#										<i class="tf-ion-ios-search-strong"></i>#}
{#									</span>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#!"><i class="tf-ion-android-cart"></i></a>#}
{#								</li>#}
{#							</ul>#}
{#                      	</div>#}
{#					</div>#}
{#					<div class="product-content">#}
{#						<h4><a href="product-single.html">Rainbow Shoes</a></h4>#}
{#						<p class="price">$200</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-md-4">#}
{#				<div class="product-item">#}
{#					<div class="product-thumb">#}
{#						<img class="img-responsive" src="../static/images/shop/products/product-6.jpg" alt="product-img" />#}
{#						<div class="preview-meta">#}
{#							<ul>#}
{#								<li>#}
{#									<span  data-toggle="modal" data-target="#product-modal">#}
{#										<i class="tf-ion-ios-search-strong"></i>#}
{#									</span>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#!"><i class="tf-ion-android-cart"></i></a>#}
{#								</li>#}
{#							</ul>#}
{#                      	</div>#}
{#					</div>#}
{#					<div class="product-content">#}
{#						<h4><a href="product-single.html">Rainbow Shoes</a></h4>#}
{#						<p class="price">$200</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#			<div class="col-md-4">#}
{#				<div class="product-item">#}
{#					<div class="product-thumb">#}
{#						<span class="bage">Sale</span>#}
{#						<img class="img-responsive" src="../static/images/shop/products/product-7.jpg" alt="product-img" />#}
{#						<div class="preview-meta">#}
{#							<ul>#}
{#								<li>#}
{#									<span  data-toggle="modal" data-target="#product-modal">#}
{#										<i class="tf-ion-ios-search-strong"></i>#}
{#									</span>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#!"><i class="tf-ion-android-cart"></i></a>#}
{#								</li>#}
{#							</ul>#}
{#                      	</div>#}
{#					</div>#}
{#					<div class="product-content">#}
{#						<h4><a href="product-single.html">Rainbow Shoes</a></h4>#}
{#						<p class="price">$200</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}

            <!-- 商品放大模态框 -->
{#            <div class="modal product-modal fade" id="product-modal">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <i class="tf-ion-close"></i>#}
{#                </button>#}
{#                <div class="modal-dialog " role="document">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-body">#}
{#                            <div class="row">#}
{#                                <div class="col-md-8 col-sm-6 col-xs-12">#}
{#                                    <div class="modal-image">#}
{#                                        <img class="img-responsive" src="../static/images/shop/products/modal-product.jpg" alt="product-img" />#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-4 col-sm-6 col-xs-12">#}
{#                                    <div class="product-short-details">#}
{#                                        <h2 class="product-title">GM Pendant, Basalt Grey</h2>#}
{#                                        <p class="product-price">$200</p>#}
{#                                        <p class="product-short-description">#}
{#                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.#}
{#                                        </p>#}
{#                                        <a href="cart.html" class="btn btn-main">Add To Cart</a>#}
{#                                        <a href="product-single.html" class="btn btn-transparent">View Product Details</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div><!-- /.modal -->#}

{#		</div>#}
	</div>
</section>
<script>
    <!-- 加入购物车 -->
    $('.tf-ion-android-cart').on('click',function () {
        var goodsid=$(this).parent().next().text();
        //console.log(goodsid);
        var url = "/cart/add_item/" + goodsid;
        $.ajax({
            url: url,
            method: "POST",
            data: {
                'cnt': 1
            },
            success: function (res) {
                if(res['code']==200){
                    alert(res['message'])
                }else{
                    alert(res['message']);
                }
            }
        })
    })
</script>
{% endblock %}